/*Print*/
@media print {
	.hprint {
	  display: none !important;
	}
  }
 /* Style Definitions */
 @media screen and (min-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
    body {
        background-color: #ffffff;
    }
}

@media screen and (max-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of less than 800px*/
    body {
        background-color: #ffffff;
    }
}
 p, li, div
	{
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:normal;
	font-size:12.0pt;
	}
a:visited, span.tilinkFollowed
	{
	color:.954F72;
	text-decoration:underline;
	text-underline:single;}
@page iqbal101
	{
	margin:0in 0in 0in 0in;}
div.iqbal101
	{page:iqbal101;}

 /* Style Definitions */
 body{
	text-align: justify;
	line-height:normal;
	font-size:11.0pt;
	font-family:"Times New Roman",serif;
}
table.iqbalTable101
	{
		width:auto;
		max-height: 29cm;
		border:none;
		border-collapse:collapse;
	}
td{
	border:none;
	text-align:center;
	line-height:normal;
	padding:0in 5.4pt 0in 5.4pt;
	height:14.35pt;
}